[Unit]
Description=Cloudflare DNS Updater
Documentation=https://github.com/favonia/cloudflare-ddns/blob/main/README.markdown
Wants=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=/etc/cloudflare-ddns/cloudflare.service.env
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TimeoutStartSec=0
Restart=always
User=ddns
ExecStart=/usr/local/bin/ddns
