name: Docker
on:
  push:
    branches:
      - main
  pull_request:
  release:
    types: [published]
env:
  # This is limited by what's officially supported by https://github.com/alpinelinux/docker-alpine
  # as long as we wish to release alpine-flavored images. "linux/riscv64" was not added because
  # it only has an "edge" release for now.
  platforms: "linux/386,linux/arm/v6,linux/arm/v7,linux/arm64/v8,linux/amd64,linux/ppc64le,linux/s390x"
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Check out the repository
      - uses: docker/setup-qemu-action@v1
        name: Set up QEMU
      - uses: docker/setup-buildx-action@v1
        name: Set up Docker Buildx
      - uses: docker/login-action@v2
        name: Log in to Docker
        if: ${{ github.event_name != 'pull_request' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: "git fetch --force --prune --unshallow --tags"
        name: Fetch git tags for `git describe`
      - run: echo '::set-output name=GIT_DESCRIBE::'`git describe --tags --always --long`
        name: Run `git describe` and save its output
        id: git-describe
      - uses: docker/metadata-action@v3
        name: Calculate metadata for alpine-flavored Docker images
        id: meta-alpine
        with:
          images: ${{ github.repository }}
          flavor: |
            suffix=-alpine
          tags: |
            type=edge
            type=semver,pattern={{version}}
      - uses: docker/build-push-action@v2
        name: Build alpine-flavored Docker images
        with:
          target: "alpine"
          push: ${{ github.event_name != 'pull_request' }}
          build-args: ${{ format('GIT_DESCRIBE={0}', steps.git-describe.outputs.GIT_DESCRIBE) }}
          platforms: ${{ env.platforms }}
          tags: ${{ steps.meta-alpine.outputs.tags }}
          labels: ${{ steps.meta-alpine.outputs.labels }}
      - uses: docker/metadata-action@v3
        name: Calculate metadata for minimal Docker images
        id: meta-minimal
        with:
          images: ${{ github.repository }}
          tags: |
            type=edge
            type=semver,pattern={{version}}
      - uses: docker/build-push-action@v2
        name: Build minimal Docker images
        with:
          target: "minimal"
          push: ${{ github.event_name != 'pull_request' }}
          build-args: ${{ format('GIT_DESCRIBE={0}', steps.git-describe.outputs.GIT_DESCRIBE) }}
          platforms: ${{ env.platforms }}
          tags: ${{ steps.meta-minimal.outputs.tags }}
          labels: ${{ steps.meta-minimal.outputs.labels }}
