name: golangci-lint
on:
  push:
    branches: main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: actions/checkout@v3
      - run: |
          go install github.com/golang/mock/mockgen@latest
          go generate ./...
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.44
