name: golangci-lint
on:
  push:
    branches: main
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
      - run: |
          go install github.com/golang/mock/mockgen@latest
          go generate ./...
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.46
          skip-pkg-cache: true
          skip-build-cache: true
