name: Go
on:
  push:
    branches: main
  pull_request:
jobs:
  test-macos:
    name: Test (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - run: |
          CGO_ENABLED=1 go install github.com/golang/mock/mockgen@latest
          go generate ./...
          CGO_ENABLED=1 go test -race -v ./...
  test-linux:
    name: Test (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - uses: actions/checkout@v3
      - run: |
          go install github.com/golang/mock/mockgen@latest
          go generate ./...
          go test -coverpkg=$(go list ./... | grep -v 'internal/mocks' | tr '\n' ',') -coverprofile=coverage.txt -race -v ./...
      - uses: codecov/codecov-action@v2
        with:
          file: ./coverage.txt
          flags: unittests
